{% extends 'base.html.twig' %}

{% block title %}
    Modification d'une annonce
{% endblock %}

{% block body %}

<div class="container">
        <h1>Modifier l'annonce : {{ ad.title }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">modifier votre annonce</button>
        {{ form_end(form) }}
    </div>

{% endblock %}